.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  max-width: 900px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container p {
  margin: 0;
}

.container .pokemon {
  width: 49%;
  background-color: white;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  margin-bottom: 20px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0, 075);
  overflow: hidden;
}
.container .pokemon_name {
  background-color: dimgrey;
  text-align: center;
  padding: 10px;
}

.container .pokemon_name p {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
}

.container .pokemon_image {
  padding: 20px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .pokemon_image img {
  max-width: 100%;
  height: auto;
}

.container .pokemon_attacks {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}

.container .pokemon_attacks span {
  width: 30%;
  background-color: grey;
  border-radius: 3px;
  padding: 7px;
  font-weight: 700;
  color: rgb(248, 245, 245);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  margin-bottom: 10px;
  word-wrap: break-down;
  text-align: center;
}

.container .pokemon_meta {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 10px;
}

.container .pokemon_meta span {
  color: white;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
  background-color: #7bb7b7;
  font-weight: bold;
  margin: 0;
  padding: 5px 20px;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .container .pokemon {
    widows: 100%;
  }
}

@media (max-width: 400px) {
  .container .pokemon_attacks,
  .container .container_meta {
    flex-wrap: wrap;
  }

  .container .pokemon_meta span,
  .container .pokemon_attacks span,
  .container .pokemon {
    width: 100%;
  }

  .container .pokemon_meta span {
    margin-bottom: 10px;
  }
}
